$white: #fff;
$off-white: #fafafa;
$light-gray: #eee;
$charcoal: #4a4a4a;
$slate: #2a2a2a;
$black: #000;

$cream: #F7F4ED;
$coral: #C76356;
$teal: #5C9598;
$green: #7ca669;
$blue: #345B6F;
$rust: #a24921;
$orange: #C76456;