@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;1,300&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$open-sans: 'Open Sans', sans-serif;
$averia: 'Averia Serif Libre', cursive;