@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;1,300&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  background: #F7F4ED;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: #2a2a2a;
  font-family: "Open Sans", sans-serif;
}

::-moz-selection {
  background: #C76456;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #C76456;
  color: #fff;
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #C76456;
  transition: all 0.2s ease-in-out;
}

.page-header {
  padding-top: 3rem;
}
.page-header h1 {
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-family: "Averia Serif Libre", cursive;
  text-transform: lowercase;
  color: #C76456;
  letter-spacing: 0.05em;
}

.popup {
  top: 9rem;
  left: -1.75rem;
}
@media screen and (min-width: 480px) {
  .popup {
    top: -0.5rem;
    left: 0;
    z-index: 1001;
  }
}
@media screen and (min-width: 992px) {
  .popup {
    left: -1rem;
    top: -1rem;
    z-index: 1;
  }
}
@media screen and (min-width: 1280px) {
  .popup {
    left: -1.5rem;
    top: -3.25rem;
  }
}
.popup a {
  color: #C76456 !important;
}
.popup-link, .popup-trigger {
  background: #fff;
  width: 5.25rem;
  height: 5.25rem;
  padding: 0.75rem;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #345B6F;
  letter-spacing: 0.05em;
  font-size: 0.6125rem;
  line-height: 1.25em;
  text-transform: lowercase;
  box-shadow: none !important;
}
@media screen and (min-width: 992px) {
  .popup-link, .popup-trigger {
    border: none;
  }
}
@media screen and (min-width: 1280px) {
  .popup-link, .popup-trigger {
    width: 6.75rem;
    height: 6.75rem;
    font-size: 0.75rem;
    padding: 1rem;
  }
}
.popup-link span, .popup-trigger span {
  display: block;
  transform: rotate(-10deg);
}

.popup-overlay .close {
  color: #345B6F;
}
.popup-overlay .info .headline h3 {
  font-size: clamp(1.5rem, 1.8vw, 1.75rem);
  color: #345B6F;
}
.popup-overlay .info .sub-headline h4 {
  color: #2a2a2a;
}
.popup-overlay .info .copy p {
  color: #2a2a2a;
}
.popup-overlay .info .btn a {
  font-size: 1.125rem;
  color: #345B6F;
}

section.announcement p {
  font-weight: normal;
  font-size: clamp(0.875rem, 1vw, 1rem);
}

#covid-modal .overlay-wrapper {
  background: #C76556;
  border: 1px solid #fff;
}
#covid-modal .close {
  color: #fff;
}
#covid-modal .headline {
  color: #fff;
  border-bottom: none;
  padding-bottom: 1rem;
}
#covid-modal .headline:after {
  display: block;
  content: "";
  height: 10px;
  width: 100%;
  background: url(images/menu-header-white.svg) repeat-x 0 0;
  margin-top: 2rem;
}
#covid-modal .headline h2 {
  font-size: clamp(1.5rem, 3vw, 2.25rem);
  font-family: "Averia Serif Libre", cursive;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}
#covid-modal .content h3 {
  color: #fff;
  font-size: clamp(0.875rem, 1vw, 1rem);
  letter-spacing: 0.05em;
}
#covid-modal .content p {
  color: #fff;
  font-family: "Averia Serif Libre", cursive;
}
#covid-modal .content p a {
  color: #fff;
  text-decoration: underline;
}

#cinco-de-mayo {
  background: #C76356;
  color: #fff;
  padding: 1rem 2rem;
  text-align: center;
}
#cinco-de-mayo h2 {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
#cinco-de-mayo #clock {
  color: #C76356;
  background: #fff;
  padding: 0.25rem 0.5rem;
}

.site-header {
  background: #345B6F;
  color: #fff;
}
.site-header a {
  color: #fff;
}
.site-header .site-nav > ul > li:after {
  padding: 0 0.675rem;
}
@media screen and (min-width: 1280px) {
  .site-header .site-nav > ul > li:after {
    padding: 0 1rem;
  }
}
.site-header .site-nav > ul > li a {
  font-size: 0.87rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.1em;
}
.site-header .site-nav > ul > li a:hover {
  text-decoration: none;
  color: #C76456;
}
.site-header .site-nav__target {
  display: block;
}
.site-header .site-nav__target-link {
  display: inline-block;
  font-size: 0.87rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: all 300ms ease;
}
.site-header .site-nav__target-link svg path {
  transition: all 300ms ease;
}
.site-header .site-nav__target-link:hover {
  text-decoration: none;
  color: #C76456;
}
.site-header .site-nav__target-link:hover svg path {
  fill: #C76456;
}
.site-header .site-nav__target:hover {
  cursor: pointer;
}
.site-header .site-nav__target.open svg {
  transform: rotate(180deg);
}
.site-header .site-nav__target.open .site-nav__dropdown {
  display: grid;
  gap: 0.75rem;
  border: 1px solid #F7F4ED;
  padding: 1rem;
  max-width: 20rem;
  margin: 1rem auto;
}
@media screen and (min-width: 992px) {
  .site-header .site-nav__target.open .site-nav__dropdown {
    opacity: 1;
    z-index: 10;
  }
}
.site-header .site-nav__target svg {
  width: 0.5rem;
}
.site-header .site-nav__dropdown {
  display: none;
}
@media screen and (min-width: 992px) {
  .site-header .site-nav__dropdown {
    display: block;
    position: absolute;
    top: 1rem;
    background: #F7F4ED;
    padding: 1rem;
    border: none;
    border-radius: 0.25rem;
    opacity: 0;
    transition: all 300ms ease;
    z-index: -1;
  }
}
.site-header .site-nav__dropdown-link {
  color: #345B6F !important;
  display: block;
  text-wrap: nowrap;
  letter-spacing: 0 !important;
}
.site-header .site-nav__dropdown-link:hover {
  color: #C76456 !important;
}
@media screen and (min-width: 992px) {
  .site-header .nameplate {
    padding-bottom: 4rem;
  }
}
@media screen and (min-width: 992px) {
  .site-header .nameplate .nameplate-wrapper {
    border-color: #fff;
    justify-content: space-between;
    padding: 4rem 0 2rem 0;
  }
}
.site-header .nameplate .logo a {
  display: block;
}
.site-header .nameplate .logo .image {
  flex: 1;
}
@media screen and (min-width: 480px) {
  .site-header .nameplate .logo .image {
    flex: none;
  }
}
@media screen and (min-width: 992px) {
  .site-header .nameplate .logo .image {
    display: flex;
    justify-content: center;
  }
}
.site-header .nameplate .logo .image img {
  width: 100%;
  max-width: 225px;
}
@media screen and (min-width: 992px) {
  .site-header .nameplate .logo .image img {
    max-width: 365px;
  }
}
.site-header .nameplate .info h3 {
  font-size: clamp(1rem, 1.7vw, 1.25rem);
  font-weight: bold;
}
.site-header .nameplate .info p {
  font-size: clamp(0.8125rem, 1vw, 1rem);
  font-style: normal;
  line-height: 1.7em;
}
.site-header .hamburger .patty {
  background: #fff;
}
.site-header .hamburger .patty:after, .site-header .hamburger .patty:before {
  background: #fff;
}
.site-header .mobile-nav {
  border-bottom: 1px solid #fff;
}
.site-header .mobile-nav ul a {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 0.875rem;
  padding: 0.75rem 0.5rem;
}
.site-header .mobile-nav ul a:hover {
  color: #C76456;
}
.site-header .mobile-nav ul .site-nav__target-link {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 0.875rem;
  padding: 0.75rem 0.5rem;
}
.site-header .mobile-nav ul .site-nav__target-link:hover {
  text-decoration: none;
  color: #C76456;
}
.site-header .mobile-nav ul .site-nav__target-link:hover svg path {
  fill: #C76456;
}
.site-header .mobile-nav ul .site-nav__dropdown-link {
  color: #fff !important;
  font-size: 0.875rem;
  padding: 0.25rem 0;
}
.site-header .mobile-nav ul .site-nav__dropdown-link:hover {
  color: #C76456 !important;
}

.utility-nav {
  padding: 0.75rem 0;
  background: #F7F4ED;
  color: #C76356;
}
.utility-nav h5 {
  font-size: 0.6125rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 2rem 0 0;
  margin: 0;
}
.utility-nav .links {
  display: flex;
  align-items: center;
  padding-top: 2px;
}
.utility-nav .links a {
  color: #C76356;
  line-height: 1rem;
  display: block;
  font-size: 0.8125rem;
  border-bottom: 1px solid transparent;
}
.utility-nav .links a:hover {
  text-decoration: none;
  border-bottom: 1px solid #C76356;
}
.utility-nav .links a + a {
  margin-left: 2rem;
}

.site-header.status-view .status {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.site-header.status-view .logo {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .site-header.status-view .logo {
    width: auto;
  }
}
.site-header.status-view .logo .image {
  width: 80%;
}
@media screen and (min-width: 992px) {
  .site-header.status-view .logo .image {
    width: 100%;
  }
}
.site-header.status-view .logo .image img {
  margin: 0;
  transform: none;
  max-width: 200px;
}
@media screen and (min-width: 768px) {
  .site-header.status-view .logo .image img {
    margin: 0;
    max-width: 300px;
  }
}
@media screen and (min-width: 1280px) {
  .site-header.status-view .logo .image img {
    max-width: 300px;
  }
}
.site-header.status-view .message {
  width: 100%;
  flex: 1;
  text-align: center;
  padding-top: 25px;
}
@media screen and (min-width: 992px) {
  .site-header.status-view .message {
    padding-left: 50px;
    text-align: left;
    width: auto;
    padding-top: 0;
  }
}
.site-header.status-view .message .headline {
  padding-bottom: 10px;
}
.site-header.status-view .message .headline h2 {
  font-weight: 700;
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1280px) {
  .site-header.status-view .message .headline h2 {
    font-size: 2rem;
  }
}
.site-header.status-view .message .copy p {
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.75em;
  text-transform: none;
}
.site-header.status-view .message .copy p + p {
  padding-top: 10px;
}
@media screen and (min-width: 1280px) {
  .site-header.status-view .message .copy p {
    font-size: 1.25rem;
  }
}

body.wallingford .utility-nav .links a.wallingford,
body.woodinville .utility-nav .links a.woodinville {
  border-bottom: 1px solid #C76356;
}

body.page-template-location .page-location,
body.page-template-gallery .page-gallery,
body.page-template-menu .page-dine-in-menus {
  color: #C76456;
}

.social-links a {
  display: block;
  border-radius: 50%;
}
.social-links a img {
  width: 100%;
}

.site-footer {
  background: #2a2a2a;
}

body.page-template-home section.photos {
  padding: 1rem 0;
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 480px) {
  body.page-template-home section.photos {
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 0;
  }
}
body.page-template-home section.photos .photo {
  position: relative;
}
body.page-template-home section.photos .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
body.page-template-home section.photos .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-home section.photos .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-home section.description {
  padding: 1rem 0 3rem 0;
  align-items: center;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.description {
    padding: 4rem 0 6rem 0;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-home section.description .photo {
    grid-column: 2/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.description .photo {
    grid-column: 4/span 4;
  }
}
body.page-template-home section.description .photo img {
  margin: 0 auto;
}
body.page-template-home section.description .copy {
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.description .copy {
    grid-column: 6/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.description .copy {
    grid-column: 8/span 4;
  }
}
body.page-template-home section.description .copy p {
  font-family: "Averia Serif Libre", cursive;
  font-size: clamp(1rem, 1.1vw, 1.125rem);
  line-height: 1.5em;
}

body.page-template-location section.location .info {
  padding-right: 2rem;
}
body.page-template-location section.location .info h3 {
  font-size: clamp(1rem, 1vw, 1.25rem);
  font-family: "Averia Serif Libre", cursive;
  text-transform: lowercase;
  color: #C76456;
  letter-spacing: 0.05em;
}
body.page-template-location section.location .info p {
  font-size: clamp(1rem, 1vw, 1.125rem);
  line-height: 1.5em;
}
body.page-template-location section.location .info p + h3 {
  margin-top: 3rem;
}
body.page-template-location section.location .info p + p {
  margin-top: 1rem;
}
body.page-template-location section.location .info a {
  text-decoration: underline;
  color: #2a2a2a;
}
body.page-template-location section.location .map {
  padding-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  body.page-template-menu .menu-section.columns-two .items {
    -moz-column-gap: 6rem;
         column-gap: 6rem;
  }
}
body.page-template-menu .menu-section.specials .section-header {
  display: none;
}
@media screen and (min-width: 992px) {
  body.page-template-menu .menu-section.specials {
    grid-column: 3/span 10;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-menu .menu-section.specials {
    grid-column: 4/span 8;
  }
}
body.page-template-menu .menu-section.specials .items {
  padding: 3rem 3rem 1rem 3rem;
}
@media screen and (min-width: 992px) {
  body.page-template-menu .menu-section.specials .items {
    padding: 2rem 4rem 2rem 4rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-menu .menu-section.specials .items .item {
    margin: 0 auto;
    max-width: 30rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-menu .menu-section.specials .image {
    padding-bottom: 0;
  }
  body.page-template-menu .menu-section.specials .image img {
    position: absolute;
    top: 3rem;
    left: -6rem;
    z-index: 10;
  }
}
body.page-template-menu .section-header {
  margin-bottom: 2rem;
}
body.page-template-menu .section-header h3 {
  font-size: clamp(2rem, 3.15vw, 3.25rem);
  letter-spacing: 0.02em;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid;
}
body.page-template-menu .notes p {
  color: #345B6F;
}
body.page-template-menu nav.menu-subnav {
  padding-top: 3rem;
}
body.page-template-menu nav.menu-subnav a {
  font-size: clamp(1.375rem, 2vw, 1.75rem);
  color: #C76456;
  font-family: "Averia Serif Libre", cursive;
  text-transform: lowercase;
  letter-spacing: 0.05em;
  padding-bottom: 0.25rem;
  border-bottom: 3px solid transparent;
}
body.page-template-menu nav.menu-subnav a.active, body.page-template-menu nav.menu-subnav a:hover {
  border-bottom: 3px solid #C76456;
}
body.page-template-menu .item {
  color: #2a2a2a;
}
body.page-template-menu .item.special {
  text-align: center;
  padding: 1.5rem;
}
body.page-template-menu .item.special .title h4 {
  text-transform: none;
}
body.page-template-menu .item .title h4 {
  letter-spacing: 0.02em;
  font-weight: bold;
  color: #C76456;
  text-transform: lowercase;
  line-height: 1.25em;
}
body.page-template-menu .item .title h4 .price:before {
  content: "·";
  padding-left: 0.25rem;
  padding-right: 0.5rem;
}
body.page-template-menu .item .details p {
  font-family: "Averia Serif Libre", cursive;
  text-transform: lowercase;
  line-height: 1.5em;
}
body.page-template-menu .item .details p span.note, body.page-template-menu .item .details p span.options {
  font-style: italic;
}
body.page-template-menu .theme-cream-orange .specials .items {
  background: #C76456;
}
body.page-template-menu .theme-cream-orange .specials .item {
  color: #fff;
}
body.page-template-menu .theme-cream-orange .specials .item:first-of-type:before {
  content: "Specials";
  display: block;
  font-size: clamp(1.5rem, 2.5vw, 2.25rem);
  color: #fff;
  font-family: "Averia Serif Libre", cursive;
  text-transform: lowercase;
  letter-spacing: 0.05em;
  padding-bottom: 2rem;
}
body.page-template-menu .theme-cream-orange .specials .item + .item {
  padding-top: 2rem;
}
body.page-template-menu .theme-cream-orange .specials .item .title h4 {
  text-transform: none;
  color: #fff;
}
body.page-template-menu .theme-cream-orange .section-header:after {
  display: block;
  content: "";
  height: 10px;
  width: 100%;
  background: url(images/menu-header.svg) repeat-x 0 0;
}
body.page-template-menu .theme-cream-orange .section-header h3 {
  border-bottom: none;
  font-size: clamp(1.5rem, 2.5vw, 2.25rem);
  color: #C76456;
  font-family: "Averia Serif Libre", cursive;
  text-transform: lowercase;
  letter-spacing: 0.05em;
}
body.page-template-menu .theme-cream-orange .notes p {
  color: #2a2a2a;
  font-style: italic;
  font-size: clamp(0.875rem, 0.9vw, 1rem);
  text-transform: lowercase;
}
body.page-template-menu .theme-cream-orange .special {
  background: #C76456;
  color: #fff;
}
body.page-template-menu .theme-cream-orange .special h4 {
  color: #fff;
}
body.page-template-menu .template-agave .agave-intro {
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  body.page-template-menu .template-agave .agave-intro {
    padding-bottom: 4rem;
  }
}
body.page-template-menu .template-agave .notes p {
  font-family: "Averia Serif Libre", cursive;
  font-size: clamp(1em, 1.2vw, 1.125rem);
}
body.page-template-menu .template-agave .intro-header {
  padding-bottom: 1rem;
}
body.page-template-menu .template-agave .intro-header h4 {
  color: #C76456;
  font-size: clamp(1.25rem, 1.4vw, 1.5rem);
  font-family: "Averia Serif Libre", cursive;
  text-transform: lowercase;
}
body.page-template-menu .template-agave .intro-contents .content {
  padding: 1.5rem 2rem;
  color: #C76456;
  border-color: #C76456;
}
body.page-template-menu .template-agave .intro-contents .content .headline h5 {
  font-size: clamp(0.875rem, 1vw, 1rem);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
body.page-template-menu .template-agave .intro-contents .content .copy {
  text-transform: lowercase;
  font-size: clamp(0.75rem, 0.9vw, 0.875rem);
}
body.page-template-menu .template-agave .intro-contents .content .copy p {
  font-family: "Averia Serif Libre", cursive;
  line-height: 1.75em;
}
body.page-template-menu .template-agave .intro-contents .content:nth-last-child(n+1):nth-last-child(-n+1):first-child, body.page-template-menu .template-agave .intro-contents .content:nth-last-child(n+1):nth-last-child(-n+1):first-child ~ .content {
  grid-column: 1/span 4;
  background: rgba(199, 100, 86, 0.1);
}
body.page-template-menu .template-agave .intro-contents .content-2 {
  background: rgba(199, 100, 86, 0.1);
}
body.page-template-menu .template-agave .intro-contents .content-3 {
  background: rgba(199, 100, 86, 0.25);
}
body.page-template-menu .template-agave .intro-contents .content-4 {
  background: rgba(199, 100, 86, 0.4);
}
body.page-template-menu .menu-section.columns-three.template-agave .items {
  -moz-columns: unset;
       columns: unset;
  -moz-column-gap: unset;
       column-gap: unset;
  display: grid;
  gap: 2rem 6rem;
}
@media screen and (min-width: 480px) {
  body.page-template-menu .menu-section.columns-three.template-agave .items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  body.page-template-menu .menu-section.columns-three.template-agave .items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-menu .menu-section.columns-three.template-agave .items {
    gap: 2rem 2rem;
  }
}
body.page-template-menu .menu-section.columns-three.template-agave .items .item {
  margin-bottom: 0;
}
body.page-template-menu .footer-copy * {
  font-family: "Averia Serif Libre", cursive;
  text-transform: lowercase;
}

body.page-template-group-dining .section-header h3 {
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-family: "Averia Serif Libre", cursive;
  text-transform: lowercase;
  color: #C76456;
  letter-spacing: 0.05em;
}
body.page-template-group-dining section.header {
  color: #345B6F;
}
body.page-template-group-dining section.header .cta .btn {
  background: #C76456;
  font-family: "Averia Serif Libre", cursive;
  text-transform: lowercase;
  border-radius: 2px;
}
body.page-template-group-dining section.faqs {
  color: #345B6F;
}
body.page-template-group-dining section.form {
  color: #345B6F;
}
body.page-template-group-dining section.form a {
  text-decoration: underline;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-response-message {
  background: #345B6F;
  color: #fff;
  padding: 1rem;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-button-submit {
  background: #C76456;
  font-family: "Averia Serif Libre", cursive;
  text-transform: lowercase;
  border-radius: 2px;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-field input {
  border: 1px solid #345B6F;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-field label {
  color: #C76456;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-field label span.forminator-required {
  color: #345B6F;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-field .forminator-error-message {
  color: #345B6F;
}
body.page-template-group-dining .ui-datepicker-prev span, body.page-template-group-dining .ui-datepicker-next span {
  color: #345B6F;
}
body.page-template-group-dining .ui-datepicker-month, body.page-template-group-dining .ui-datepicker-year {
  color: #fff;
  background: #C76456;
  border-color: #C76456;
  font-weight: bold;
}
body.page-template-group-dining .ui-datepicker-calendar {
  border-left: 1px solid #345B6F;
}
body.page-template-group-dining .ui-datepicker-calendar th {
  background: #345B6F;
}
body.page-template-group-dining .ui-datepicker-calendar td {
  border-right: 1px solid #345B6F;
  border-bottom: 1px solid #345B6F;
}
body.page-template-group-dining .ui-datepicker-calendar td a:hover, body.page-template-group-dining .ui-datepicker-calendar td a.ui-state-active {
  background: #C76456;
  color: #fff;
}

body.page-template-splash .splash-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #C76356;
  padding: 2rem 2rem;
}
body.page-template-splash .splash-header .logo {
  aspect-ratio: 490/75;
  max-width: 20rem;
}
body.page-template-splash .splash-header .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body.page-template-splash .splash-body {
  display: grid;
}
body.page-template-splash .splash-body .photo {
  grid-row: 1;
  grid-column: 1;
  aspect-ratio: 4/3;
}
@media screen and (min-width: 768px) {
  body.page-template-splash .splash-body .photo {
    aspect-ratio: 1440/600;
  }
}
body.page-template-splash .splash-body .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-splash .splash-body .links {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
body.page-template-splash .splash-body .link {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 992px) {
  body.page-template-splash .splash-body .link {
    padding: 1.5rem 0;
  }
}
body.page-template-splash .splash-body .btn {
  display: block;
  background: rgba(52, 92, 111, 0.7);
  font-size: clamp(1.375rem, 1.5vw, 1.6875rem);
  color: #fff;
  border: 1px solid #f7f4ee;
  padding: 1.5rem 2.25rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  transition: all 500ms ease;
}
body.page-template-splash .splash-body .btn:hover {
  background: rgba(52, 92, 111, 0.8);
}
body.page-template-splash .splash-about {
  padding: 3rem 0;
  align-items: center;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-splash .splash-about {
    padding: 6rem 0;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-splash .splash-about .photo {
    grid-column: 2/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-splash .splash-about .photo {
    grid-column: 4/span 4;
  }
}
body.page-template-splash .splash-about .photo img {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body.page-template-splash .splash-about .copy {
    grid-column: 6/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-splash .splash-about .copy {
    grid-column: 8/span 4;
  }
}
body.page-template-splash .splash-about .copy p {
  font-family: "Averia Serif Libre", cursive;
  font-size: clamp(1rem, 1.1vw, 1.125rem);
  line-height: 1.5em;
}