.site-header {
    background: $blue;
    color: $white;

    a {
        color: $white;
    }

    @import 'site-nav';

    @import 'nameplate';

    @import 'hamburger';

    @import 'mobile-nav';
}

@import 'utility-nav';

@import 'status-view';

body.wallingford .utility-nav .links a.wallingford,
body.woodinville .utility-nav .links a.woodinville {
    border-bottom: 1px solid $coral;
}

body.page-template-location .page-location,
body.page-template-gallery .page-gallery,
body.page-template-menu .page-dine-in-menus {
    color: $orange;
}

.social-links {
    a {
        display: block;
        border-radius: 50%;

        img {
            width: 100%;
        }
    }
}
