.mobile-nav {
    border-bottom: 1px solid $white;

    ul {
        a {
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-weight: bold;
            font-size: 0.875rem;

            padding: 0.75rem 0.5rem;

            &:hover {
                color: $orange;
            }
        }

        .site-nav__target-link {
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-weight: bold;
            font-size: 0.875rem;
            padding: 0.75rem 0.5rem;

            &:hover {
                text-decoration: none;
                color: $orange;

                svg {
                    path {
                        fill: $orange;
                    }
                }
            }
        }

        .site-nav__dropdown-link {
            color: $white !important;
            font-size: 0.875rem;
            padding: 0.25rem 0;

            &:hover {
                color: $orange !important;
            }
        }
    }
}
