.nameplate {
    @include desktop-small {
        padding-bottom: 4rem;
    }

	.nameplate-wrapper {
        @include desktop-small {
            border-color: $white;
            justify-content: space-between;
            padding: 4rem 0 2rem 0;
        }
	}

    .logo {
        a {
            display: block;
        }

        .image {
            flex: 1;

            @include tablet-small {
                flex: none;
            }

            @include desktop-small {
                display: flex;
                justify-content: center;
            }

            img {
                width: 100%;
                max-width: 225px;

                @include desktop-small {
                    max-width: 365px;
                }
            }
        }
    }

	.info{
		h3 {
            font-size: clamp(1rem, 1.7vw, 1.25rem);
            font-weight: bold;
		}

		p {

            font-size: clamp(0.8125rem, 1vw, 1rem);
            font-style: normal;
            line-height: 1.7em;
        }
	}
}