.site-nav {
    & > ul {
        & > li {
            &:after {
                padding: 0 0.675rem;
                @include desktop-medium {
                    padding: 0 1rem;
                }
            }

            a {
                font-size: 0.87rem;
                font-weight: 700;
                color: $white;
                letter-spacing: 0.1em;

                &:hover {
                    text-decoration: none;
                    color: $orange;
                }
            }
        }
    }
    &__target {
        display: block;

        &-link {
            display: inline-block;
            font-size: 0.87rem;
            font-weight: 700;
            color: $white;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            transition: all 300ms ease;

            svg {
                path {
                    transition: all 300ms ease;
                }
            }

            &:hover {
                text-decoration: none;
                color: $orange;

                svg {
                    path {
                        fill: $orange;
                    }
                }
            }
        }

        &:hover {
            cursor: pointer;
        }
        &.open {
            svg {
                transform: rotate(180deg);
            }
            .site-nav__dropdown {
                display: grid;
                gap: 0.75rem;
                border: 1px solid $cream;
                padding: 1rem;
                max-width: 20rem;
                margin: 1rem auto;

                @include desktop-small {
                    opacity: 1;
                    z-index: 10;
                }
            }
        }

        svg {
            width: 0.5rem;
        }
    }

    &__dropdown {
        display: none;

        @include desktop-small {
            display: block;
            position: absolute;
            top: 1rem;
            background: $cream;
            padding: 1rem;
            border: none;
            border-radius: 0.25rem;
            opacity: 0;
            transition: all 300ms ease;
            z-index: -1;
        }

        &-link {
            color: $blue !important;
            display: block;
            text-wrap: nowrap;
            letter-spacing: 0 !important;

            &:hover {
                color: $orange !important;
            }
        }
    }
}
