.utility-nav {
    padding: 0.75rem 0;
    background: $cream;
    color: $coral;

    h5 {
        font-size: 0.6125rem;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.1em;
        line-height: 1rem;
        padding: 0 2rem 0 0;
        margin: 0;
    }

    .links {
        display: flex;
        align-items: center;
        padding-top: 2px;

        a {
            color: $coral;
            line-height: 1rem;
            display: block;
            font-size: 0.8125rem;
            border-bottom: 1px solid transparent;

            &:hover {
                text-decoration: none;
                border-bottom: 1px solid $coral;
            }

            & + a {
                margin-left: 2rem;
            }
        }
    }
}
