body,
button,
input,
select,
optgroup,
textarea {
	color: $slate;
	font-family: $open-sans;
}


::-moz-selection {
	background: $orange;
	color: $white;
	text-shadow: none;
}

::selection {
	background: $orange;
	color: $white;
	text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	font-family: $open-sans;
}

a {
	color: $orange;
	transition: all 0.2s ease-in-out;
}

.page-header {
	padding-top: 3rem;

	h1 {
		font-size: clamp(2rem, 4vw, 3.5rem);
		font-family: $averia;
		text-transform: lowercase;
		color: $orange;
		letter-spacing: 0.05em;

	}
}