body.page-template-group-dining {

    .section-header {
        h3 {
            font-size: clamp(2rem, 4vw, 3.5rem);
            font-family: $averia;
            text-transform: lowercase;
            color: $orange;
            letter-spacing: 0.05em;
        }
    }

    section.header {
        color: $blue;

        .cta {
            .btn {
                background: $orange;
                font-family: $averia;
                text-transform: lowercase;
                border-radius: 2px;
            }
        }
    }

    section.faqs {
        color: $blue;

    }

    section.form {
        color: $blue;

        a {
            text-decoration: underline;
        }

        .forminator-custom-form {
            .forminator-response-message {
                background: $blue;
                color: $white;
                padding: 1rem;
            }

            .forminator-button-submit {
                background: $orange;
                font-family: $averia;
                text-transform: lowercase;
                border-radius: 2px;
            }

            .forminator-field {
                input {
                    border: 1px solid $blue;
                }

                label {
                    color: $orange;

                    span.forminator-required {
                        color: $blue;
                    }
                }

                .forminator-error-message {
                    color: $blue;
                }
            }
        }

    }

    .ui-datepicker { 
        &-prev,
        &-next {    
            span {
                color: $blue;
            }
        }

        &-month,
        &-year {
            color: $white;
            background: $orange;
            border-color: $orange;
            font-weight: bold;
        }
    
        &-calendar {
            border-left: 1px solid $blue;
    
            th {
                background: $blue;
            }
    
            td {
                border-right: 1px solid $blue;
                border-bottom: 1px solid $blue;
    
                a {
                    &:hover,
                    &.ui-state-active {
                        background: $orange;
                        color: $white;
                    }
                }
            }
        }
    }
}