body.page-template-location {
    section.location {
        .info {
            padding-right: 2rem;

            h3 {
                font-size: clamp(1rem, 1vw, 1.25rem);
                font-family: $averia;
                text-transform: lowercase;
                color: $orange;
                letter-spacing: 0.05em;
            }

            p {
                font-size: clamp(1rem, 1vw, 1.125rem);
                line-height: 1.5em;

                & + h3 {
                    margin-top: 3rem;
                }

                & + p {
                    margin-top: 1rem;
                }
            }

            a {
                text-decoration: underline;
                color: $slate;
            }
        }

        .map {
            padding-bottom: 3rem;
        }
    }
}
