body.page-template-splash {
    .splash {
        &-header {
            display: flex;
            align-items: center;
            justify-content: center;
            background: $coral;
            padding: 2rem 2rem;

            .logo {
                aspect-ratio: 490 / 75;
                max-width: 20rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        &-body {
            display: grid;

            .photo {
                grid-row: 1;
                grid-column: 1;
                aspect-ratio: 4 / 3;

                @include tablet {
                    aspect-ratio: 1440 / 600;
                }

                @include cover-fill-image;
            }

            .links {
                grid-row: 1;
                grid-column: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .link {
                padding: 1rem 0;
                display: flex;
                justify-content: center;
                align-items: center;

                @include desktop-small {
                    padding: 1.5rem 0;
                }
            }

            .btn {
                display: block;
                background: rgba(#345c6f, 0.7);
                font-size: clamp(1.375rem, 1.5vw, 1.6875rem);
                color: $white;
                border: 1px solid #f7f4ee;
                padding: 1.5rem 2.25rem;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-weight: bold;
                transition: all 500ms ease;

                &:hover {
                    background: rgba(#345c6f, 0.8);
                }
            }
        }

        &-about {
            padding: 3rem 0;
            align-items: center;
            gap: 2rem;

            @include tablet {
                padding: 6rem 0;
            }

            .photo {
                @include tablet {
                    grid-column: 2 / span 4;
                }

                @include desktop-small {
                    grid-column: 4 / span 4;
                }

                img {
                    margin: 0 auto;
                }
            }

            .copy {
                @include tablet {
                    grid-column: 6 / span 4;
                }

                @include desktop-small {
                    grid-column: 8 / span 4;
                }

                p {
                    font-family: $averia;
                    font-size: clamp(1rem, 1.1vw, 1.125rem);
                    line-height: 1.5em;
                }
            }
        }
    }
}
