section.description {
    padding: 1rem 0 3rem 0;
    align-items: center;

    @include desktop-small {
        padding: 4rem 0 6rem 0;
    }

    .photo {
        @include tablet {
            grid-column: 2 / span 4;
        }

        @include desktop-small {
            grid-column: 4 / span 4;
        }

        img {
            margin: 0 auto;
        }
    }

    .copy {
        padding-top: 2rem;

        @include tablet {
            grid-column: 6 / span 4;
        }

        @include desktop-small {
            grid-column: 8 / span 4;
        }

        p {
            font-family: $averia;
            font-size: clamp(1rem, 1.1vw, 1.125rem);
            line-height: 1.5em;
        }
    }
}