section.photos {
    padding: 1rem 0;
    display: grid;
    gap: 1rem;

    @include tablet-small {
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem 0;
    }

    .photo {
        @include aspect-ratio(4, 3);
        @include cover-fill-image;
    }
}