#cinco-de-mayo {
    background: $coral;
    color: $white;
    padding: 1rem 2rem;
    text-align: center;

    h2 {
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    #clock {
        color: $coral;
        background: $white;
        padding: 0.25rem 0.5rem;
    }
}
