#covid-modal {
	.overlay {
		&-wrapper {
			background: #C76556;
			border: 1px solid $white;
		}
	}

	.close {
		color: $white;
	}

	.headline {
		color: $white;
		border-bottom: none;
		padding-bottom: 1rem;

        &:after {
            display: block;
            content: '';
            height: 10px;
            width: 100%;
            background: url(images/menu-header-white.svg) repeat-x 0 0;
			margin-top: 2rem;
        }

		h2 {
			font-size: clamp(1.5rem, 3vw, 2.25rem);
			font-family: $averia;
			text-transform: lowercase;
			letter-spacing: 0.1em;
		}
	}

	.content {
		h3 {
			color: $white;
			font-size: clamp(0.875rem, 1vw, 1rem);
			letter-spacing: 0.05em;
		}

		p {
			color: $white;
			font-family: $averia;

			a {
				color: $white;
				text-decoration: underline;
			}
		}
	}
}