.template-agave {

    .agave-intro {
        padding-bottom: 3rem;

        @include tablet {
            padding-bottom: 4rem;
        }
    }

    .notes {
        p {
            font-family: $averia;
            font-size: clamp(1em, 1.2vw, 1.125rem);
        }
    }

    .intro-header {
        padding-bottom: 1rem;

        h4 {
            color: $orange;
            font-size: clamp(1.25rem, 1.4vw, 1.5rem);
            font-family: $averia;
            text-transform: lowercase;
        }
    }

    .intro-contents {
        .content {
            padding: 1.5rem 2rem;
            color: $orange;
            border-color: $orange;

            .headline {
                h5 {
                    font-size: clamp(0.875rem, 1vw, 1rem);
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                }
            }

            .copy {
                text-transform: lowercase;
                font-size: clamp(0.75rem, 0.9vw, 0.875rem);

                p {
                    font-family: $averia;
                    line-height: 1.75em;
                }
            }

            &:nth-last-child(n+1):nth-last-child(-n+1):first-child,
            &:nth-last-child(n+1):nth-last-child(-n+1):first-child ~ .content {
                grid-column: 1 / span 4;
                background: rgba(199, 100, 86, 0.1);

            }
        }

        .content-2 {
            background: rgba(199, 100, 86, 0.1);
        }

        .content-3 {
            background: rgba(199, 100, 86, 0.25);
        }

        .content-4 {
            background: rgba(199, 100, 86, 0.4);
        }
    }




}

.menu-section.columns-three.template-agave {
    .items {
        columns: unset;
        column-gap: unset;
        display: grid;
        gap: 2rem 6rem;

        @include tablet-small {
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet {
            grid-template-columns: repeat(3, 1fr);
        }
        @include desktop-medium {
            gap: 2rem 2rem;
        }

        .item {
            margin-bottom: 0;
        }
    }
}