.item {
    color: $slate;

    &.special {
        text-align: center;
        padding: 1.5rem;

        .title {
            h4 {
                text-transform: none;
            }
        }
    }
    
    .title {
        h4 {
            letter-spacing: 0.02em;
            font-weight: bold;
            color: $orange;
            text-transform: lowercase;
            line-height: 1.25em;

            .price {
                &:before {
                    content: '·';
                    padding-left: 0.25rem;
                    padding-right: 0.5rem;
                }
            }
        }

    }



    .details {
        p {
            font-family: $averia;
            text-transform: lowercase;
            line-height: 1.5em;

            span {      
                &.note,
                &.options {
                    font-style: italic;
                }
            }
        }
    }
}