nav.menu-subnav {
    padding-top: 3rem;

    a {
        font-size: clamp(1.375rem, 2vw, 1.75rem);
        color: $orange;
        font-family: $averia;
        text-transform: lowercase;
        letter-spacing: 0.05em;
        padding-bottom: 0.25rem;
        border-bottom: 3px solid transparent;

        &.active,
        &:hover {
            border-bottom: 3px solid $orange;
        }
    }
}