.section-header {
    margin-bottom: 2rem;

    h3 {
        font-size: clamp(2rem, 3.15vw, 3.25rem);
        letter-spacing: 0.02em;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid;
    }
}

.notes {
    p {
        color: $blue;
    }
}