.theme-cream-orange {

    .specials {
        .items {
            background: $orange;
        }

        .item {
            color: $white;

            &:first-of-type {
                &:before {
                    content: 'Specials';
                    display: block;
                    font-size: clamp(1.5rem, 2.5vw, 2.25rem);
                    color: $white;
                    font-family: $averia;
                    text-transform: lowercase;
                    letter-spacing: 0.05em;
                    padding-bottom: 2rem;
                }
            }

            & + .item {
                padding-top: 2rem;
            }

            .title {
                h4 {
                    text-transform: none;
                    color: $white;
                }
            }

        }
    }

    .section-header {
        
        &:after {
            display: block;
            content: '';
            height: 10px;
            width: 100%;
            background: url(images/menu-header.svg) repeat-x 0 0;
        }
        h3 {
            border-bottom: none;

            font-size: clamp(1.5rem, 2.5vw, 2.25rem);
            color: $orange;
            font-family: $averia;
            text-transform: lowercase;
            letter-spacing: 0.05em;
        }
    }

    .notes {
        p {
            color: $slate;
            font-style: italic;
            font-size: clamp(0.875rem, 0.9vw, 1rem);
            text-transform: lowercase;
        }
    }

    .special {
        background: $orange;
        color: $white;


        h4 {
            color: $white;
        }
    }
}
